
.addBtn {
    color: rgb(24, 22, 22);
    border: 1px solid rgb(24, 22, 22);
    background-color: #8BC6EC;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-weight: 600;
    border-radius: 0px;
    margin: 18px 0;
    padding: 12px 24px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #d80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
  .addBtn:hover {
    box-shadow: inset 400px 0 0 0 #d80286;
  }
  